.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	color: #ccc;
	text-align: center;
}
		
html , body{
	height:100%;
	margin: 0; 
	padding: 0;
	color: #000000;
}

body{
	font-family: Open Sans;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d3e5bd+0,a0c960+100 */
background: #d3e5bd; /* Old browsers */
background: -moz-linear-gradient(top,  #d3e5bd 0%, #a0c960 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #d3e5bd 0%,#a0c960 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #d3e5bd 0%,#a0c960 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3e5bd', endColorstr='#a0c960',GradientType=0 ); /* IE6-9 */
 
}

@font-face {
    font-family: Kalpurush;
    src: url(kalpurush.ttf);
}


.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #554f50;
    text-align: center;
}

.content{
	margin-top: 57px;
}

.category_icon{
	font-size: 4em;
	color: #32cd32;
}

.row_gap{
	margin-top: 30px;
}


.category_text{
	font-family: sans-serif;
    font-size: 18px;
	font-weight: bold;
}


#opening-tag{
 text-align: center;
}



input[type=text],[type=password],[type=number], select {
height: 45px;
    width: 231px;
    border: 1px solid greenyellow;
    font-size: 1em;
    padding: 3px;
    margin: 10px;
}

input[type=submit] {
  width: 40%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}